@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    height: 100%;
    width: 100%;
    background-image: url(./img/wp.jpeg);
    background-position: left;
}

#logoL {
    width: 45px;
    height: 45px;
}

#rpicon {
    width: 60px;
}

@media (min-width: 340px) {
    #poro {
        width: 250px;
    }
}

#poro {
    width: 300px;
}

#notification1 {
    position: fixed;
    top: -15rem;
    color: white;
    background: rgb(84, 141, 233);
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}
#notification1.show {
    top: 5rem;
}

#notification2 {
    position: fixed;
    top: -15rem;
    color: white;
    background: rgb(84, 141, 233);
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}

#notification2.show {
    top: 5rem;
}

#notification3 {
    position: fixed;
    top: -15rem;
    color: white;
    background: rgb(84, 141, 233);
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}
#notification3.show {
    top: 5rem;
}

#notification4 {
    position: fixed;
    top: -15rem;
    color: white;
    background: rgb(84, 141, 233);
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}
#notification4.show {
    top: 5rem;
}

#notification5 {
    position: fixed;
    top: -15rem;
    color: white;
    background: rgb(84, 141, 233);
    padding: 1rem 1rem;
    border-radius: 0.2rem;
    box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
}
#notification5.show {
    top: 5rem;
}

.blur {
    filter: 5px;
}

.disabled {
    background-color: gray;
    cursor: not-allowed;
}
