@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: beige;
}

#logoL {
    width: 45px;
    height: 45px;
}

#rpicon {
    width: 60px;
}

@media (min-width: 340px) {
    #poro {
        width: 250px;
    }
}
